# Manual installs for checking: uv

# Required
OPENAI_API_KEY='your_openai_api_key_here'
OPENAI_BASE_URL='your_openai_compatible_base_url_here'  # 例如: https://api.example.com/v1
OPENAI_MODEL_NAME='your_model_name_here'  # 例如: gpt-4, qwen-turbo, deepseek-chat 等
TAVILY_API_KEY='your_tavily_api_key_here'

# optional, only used in Module 1, Lesson 1 once
ANTHROPIC_API_KEY='your_anthropic_api_key_here'
GOOGLE_API_KEY='your_google_api_key_here'

# Optional for evaluation and tracing
LANGSMITH_API_KEY='your_langsmith_api_key_here'
# uncomment to set tracing to true when you set up your LangSmith account
# LANGSMITH_TRACING=true
LANGSMITH_PROJECT=lca-lc-foundation
# Uncomment the following if you are on the EU instance:
#LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
